.main_wallet_page{
    // display: flex;
    // flex-direction: column;
    height: calc(100vh - 3rem);
    overflow: hidden;
    overflow-y: scroll;
}
.main_wallet_page::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}